@import "tailwindcss";


/* Works for modern browsers */
::-webkit-scrollbar {
    display: none;
  }
  
  html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
  }
  .light-p{
    background-color: #2823c58e;
    border-radius: 10px;
    border: 3px solid #ffffff7e;
  }

  .header {
    background-color: rgba(97, 97, 180, 0.544);
    border-bottom: 2px solid rgb(177, 208, 228);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  
  .header-container {
    height: 90px;
  }

  .music-button {
    padding: 4px 14px;
    transition: 0.2s ease;
  }

  .music-button:hover {
    background-color: rgba(255, 255, 255, 0.441);
  }

  .header-list {
    font-size: 15px;
  }
  .car-power-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    }

  .car-power{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: white;
    backdrop-filter: blur(13.1px);
  }
  .car-power-info{ 
    width: 40%;
    padding: 20px;
    border-radius: 10px;
  }
  .car-power-info h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .car-power-info p {
    font-size: 16px;
    line-height: 1.5;
  }
  .car-power-stats{
    width: 30%;
    padding: 20px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
  }
  .car-power-stats p{
    font-size: 14px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 16px;
    backdrop-filter: blur(13.1px);
    padding: 14px;
    transition: all 0.5s ease;
    color: red;
  }
  .car-power-stats p strong {
    font-size: 20px;
    color: white;
  }
  .footer {
    background-color: rgba(97, 97, 180, 0.544);
    border-top: 2px solid rgb(177, 208, 228);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  @media (max-width: 660px) {
    .header-list {
      font-size: 13px;
    }
    .header-container {
      height: 70px;
    }
    .header-img {
      width: 130px;
      height: auto;
    }
    .music-button{
      font-size: 12px;
    }
  }
  @media (max-width: 540px) {
    .header-list {
      display: none;
    }
  }

.imgContainer {
  height: 300vh;
  position: relative;
}

.imgContainer .sticky {
  position: sticky;
  overflow: hidden;
  top: 0;
  height: 100vh;
}

.imgContainer .sticky .el {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer .sticky .el .imageContainer {
  position: relative;
  width: 25vw;
  height: 25vh;
}

.imgContainer .sticky .el .imageContainer img {
  object-fit: cover;
}

.imgContainer .sticky .el:nth-of-type(2) .imageContainer {
  top: -30vh;
  left: 5vw;
  width: 35vw;
  height: 30vh;
}

.imgContainer .sticky .el:nth-of-type(3) .imageContainer {
  top: -10vh;
  left: -25vw;
  width: 20vw;
  height: 45vh;
}

.imgContainer .sticky .el:nth-of-type(4) .imageContainer {
  left: 27.5vw;
  width: 25vw;
  height: 25vh;
}

.imgContainer .sticky .el:nth-of-type(5) .imageContainer {
  top: 27.5vh;
  left: 5vw;
  width: 20vw;
  height: 25vh;
}

.imgContainer .sticky .el:nth-of-type(6) .imageContainer {
  top: 27.5vh;
  left: -22.5vw;
  width: 30vw;
  height: 25vh;
}

.imgContainer .sticky .el:nth-of-type(7) .imageContainer {
  top: 22.5vh;
  left: 25vw;
  width: 15vw;
  height: 15vh;
}
